@model ArstegSolutions.Models.TaxSlab

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaxSlab</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percentage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SlabId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
